.message{data: {message: {id: message.id}}}
  .upper-message
    -#送信者
    .upper-message__name
      = message.user.name
      -#送信日時
    .upper-message__time
      = message.created_at.strftime("%Y/%m/%d %H:%M")
    -#本文
  .lower-message
    - if message.text.present?
      %p.lower-message__content
        = message.text
    = image_tag message.image.url, class: 'lower-message__image' if message.image.present?