* {
  box-sizing: border-box;
}
.wrapper{
  display: flex;
  .side_bar{
    width: 300px;
    &__user_name{
      height: 100px;
      background-color: #253141;
      position: relative;
      &__top_items{
        width: 260px;
        line-height: 20px;
        position: absolute;
        margin: 40px 20px;
        background-color: #253141;
        display: flex;
        justify-content: space-between;
        &__name{
          font-weight: bold;
          font-size: 16px;
          color: #ffffff;
        }
        &__icons{
          display: flex;
          justify-content: flex-end;
          &__create_group{
            .fa-edit {
              color: #ffffff;
            }
          }
          &__edit_account{
            margin-left: 5px;
            .fa-cog {
              color: #ffffff;
            }
          }
        }
      }
    }
    &__group_list{
      height: calc(100vh - 100px);
      background-color: #2f3e51;
      &__group_items{
        &__name{
          margin: 0 20px;
          padding-top: 20px;
          color: #ffffff;
          font-size: 15px;
        }
        &__message{
          margin: 0 20px;
          padding-top: 5px;
          padding-bottom: 40px;
          color: #ffffff;
          font-size: 11px;
        }
      }
    }
  }

  .chat_main{
    width: calc(100vw - 300px);
    &__group_info{
      padding-left: 40px;
      padding-right: 40px;
      height: 100px;
      background-color: #ffffff;
      display: flex;
      justify-content: space-between;
      &__left_item{
        &__name{
          line-height: 20px;
          padding-top: 35px;
          padding-bottom: 15px;
          font-size: 20px;
          color: #333333;
        }
        &__member{
          line-height: 12px;
          font-size: 12px;
          color: #999999;
          padding-top: 12px;
          display: flex;
          .text{
            margin-right: 5px;
          }
        }
      }
      &__right_item{
        &__edit_btn{
          height: 40px;
          line-height: 40px;
          padding-top: 30px;
          list-style: none;
          a{
            border: solid 1px;
            text-decoration: none;
            color: #38aef0;
            display: block;
            text-align: center;
            width: 70px;
          }
        }
      }
      }
      .messages{
        height: calc(100vh - 100px - 90px);
        background-color: #fafafa;
        overflow: scroll;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 35px;
        padding-bottom: 35px;
        .message{
          .upper-message{
            height: 20px;
            display: flex;
            &__name{
              font-size: 16px;
              color: #333333;
              line-height: 20px;
              font-weight: bold;
            }
            &__time{
              font-size: 12px;
              color: #999999;
              margin-left: 10px;
            }                
          }
          .lower-message{
            margin-top: 12px;
            margin-bottom: 46px;
            font-size: 14px;
            color: #434A54;
          }
        }
      }
      .form{
        height: 90px;
        background-color: #d2d2d2;
        display: flex;
        .new_message{
          width: 100%;
          display: flex;
          margin-left: 40px;
        }
        &__text{
          display: flex;
          width: 100%;
          margin: auto 0;
          justify-content: flex-end;
        }
        .field_with_errors{
          width: 100%;
        }
        #message_text{
          height: 50px;
          margin: auto;
          width: 100%;
          border-style: none;
          padding-left: 10px;
        }
        &__mask{
          cursor: pointer;
          padding: 10px 25px;
          margin: 5px;
          margin-left : 10px;
          position: absolute;
        }
        .hidden{
          display: none;
        }
        &__submit{
          width: 115px;
          height: 50px;
          background-color: #38aef0;
          color: white;
          margin-left: 15px;
          margin-right: 40px;
          margin-top: 20px;
        }
      }
  }
}